.bodyExchange {
    width: 100%;
    background-color: #0F0F0E;
    .maxcontainer {
        max-width: 1440px;
        max-width: 1440px;
        width: 90%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        .exchangeChart {
            max-width: 870px;
            width: 100%;
        }
        .swap {
            min-width: 410px;
            margin-left: 34px;
        }
    }
}